{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
<h2 style="margin-left:40px">{{article.article_title}}</h2>

<p style="margin-left:40px">{{article.article_text}}</p>

<em style="margin-left:40px">{{article.pub_date}}</em>



<hr>

{% if latest_comments_list %}

    {% for c in latest_comments_list %}
        <p>
            <strong style="margin-left:80px">{{c.author_name}}</strong>
            <p style="margin-left:80px">{{c.comment_text}}</p>
        </p>
        <hr>
    {% endfor %}

{% else  %}
<p style="margin-left:40px">Комментарии не найдены. Станьте первым!</p>
{% endif %}




<form action="{% url 'articles:leave_comment' article.id %}" method="POST">

    {% csrf_token %}

    <input style="margin-left:40px"  type="text" required placeholder="Ваше имя" name="name" size="60" maxlength="50"><br><br>
    <textarea style="margin-left:40px"  name="text" required placeholder="Текст комментария" cols="62" rows="3" maxlength="200"></textarea><br>

    <button style="margin-left:40px" class="btn btn-secondary" type="submit">Оставить комментарий</button>

</form><br>

{% endblock %}