{% extends 'base.html' %}

{% block title %}Последние статьи{% endblock %}

{% block content %}
    {% if latest_articles_list %}

        {% for a in latest_articles_list %}
          <div class="col-md-4">
            <h2>{{a.article_title}}</h2>
            <p>{{a.pub_date}}</p>
            <p>{{a.article_text}}</p>
            <p><a class="btn btn-secondary" href="{% url 'articles:detail' a.id %}" role="button">Читать »</a></p>
          </div>
            <hr>
        {% endfor %}

    {%else%}
        Статьи не найдены
    {% endif %}

{% endblock %}